/* Section: About */
@media (min-width: 992px) and (max-width: 1199px) {
    .about .about-right .p-custom.one {
        bottom: -565px;
    }
}

 @media (min-width: 992px) and (max-width: 1199px) {
    .about .custom {
        margin-bottom: 500px;
    }
}



@media (min-width: 768px) and (max-width: 991px) {
    .about .about-right .p-custom.one {
        bottom: -684px;
    }
}


@media (min-width: 768px) and (max-width: 991px) {
    .about .custom {
        margin-bottom: 610px;
    }
}


.head {
    width: auto !important;
}

@media (max-width: 768px) {
    .faq .accordion .accordion-item .accordion-button {
        font-size: 14px;
    }
    .faq .accordion .accordion-item .accordion-body {
        font-size: 14.66px;
    }
}


.header .main-nav > li > a {
    font-size: 16.66px;
    font-weight: bolder !important;
    text-align: center !important;
}

.landing .swiper .swiper-slide h2 {
	font-size: 50px !important;
	font-weight: bolder !important;
	line-height: 55px !important;
	text-transform: uppercase !important;
}

.about .about-right .about-description {
    color: rgba(79, 79, 79, 1);
    font-size: 14.33px;
    font-weight: 500;
    line-height: 20px;
}

.features .feature-description {
    font-size: 14.33px;
    line-height: 19.33px;
}

.head .intro {
    font-weight: bolder;
    font-size: 16.33px;
}

.services .service-content .service-description {
    font-size: 14.66px;
    font-weight: 500;
    margin-bottom: 10px;
    line-height: 20.33px;
}

.services .service-content .service-description {
    font-size: 14.66px;
    font-weight: 500;
    margin-bottom: 10px;
    line-height: 20.33px;
}

.services .service-content .service-list li {
    position: relative;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 500;
}

.services .swiper .service-icons .icon-box p {
    margin-top: 10px;
    width: 112px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: rgba(79, 79, 79, 1);
}

.partners .partner p {
    color: rgba(51, 51, 51, 1);
    font-weight: 500;
    font-size: 17.33px;
}

.partners-page .landing h1 {
    padding: 0 60px;
    font-size: 50px !important;
    font-weight: bolder !important;
    line-height: 52px !important;
    text-transform: uppercase !important;
}

.partners-page .partners-section .partner-box .top-side .text .desc {
    line-height: 22px;
    font-size: 15.66px;
    font-weight: 500;
    color: rgb(79, 79, 79);
}

.privacy-page .text p, .terms-page .text p {
    font-size: 15.66px;
    line-height: 22px;
    font-weight: 400;
}

.privacy-page .text ul li, .terms-page .text ul li {
    position: relative;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}
