@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap');
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
    --fontFamily: sans-serif, 'IBM Plex Sans Arabic';
    --grayColor: rgba(51, 51, 51, 1);
    --primaryColor: rgba(52, 170, 73, 1);
    --altPrimaryColor: rgba(52, 170, 74, 0.7);
}

.accordion-button::after {
    background-image: url('/assets/images/site/arrow-top.png');
}

.accordion-button:not(.collapsed)::after {
    background-image: url('/assets/images/site/arrow-top.png');
}

html {
  scroll-behavior: smooth;
}

body {
    font-family: var(--fontFamily);
    direction: rtl;
    position: relative;
    overflow-x: hidden !important;
}

a {
  text-decoration: none !important;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: var(--primaryColor);
    color: white;
    border: none;
    border-radius: 50%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    border: 2px solid transparent;
    transition: 0.3s;
}

.scroll-to-top.show {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

.scroll-to-top:hover {
    background-color: white;
    border-color: var(--primaryColor);
    color: var(--primaryColor);
}

body::-webkit-scrollbar {
	width: 8px;
}
body::-webkit-scrollbar-thumb {
	border-radius: 0;
	background: grey;
}

.swiper {
    cursor: pointer;
}

.head {
    width: 385px;
    margin: 10px auto;
    text-align: center;
}

.head .title {
    color: var(--primaryColor);
    font-weight: 600;
    margin-bottom: 20px;
}

.head .intro {
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: rgba(79, 79, 79, 1);
}

@media (max-width: 576px) {
    .head .intro {
        font-size: 16px !important;
    }
}

#loading {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    border: 6px solid #f3f3f3;
    border-top: 6px solid var(--primaryColor);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.custom-landing {
    height: 400px;
    background: rgba(246, 246, 246, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-landing h1 {
    text-align: center;
    margin-bottom: 35px;
    font-weight: 700;
    color: rgba(51, 51, 51, 1);
}

.custom-landing p {
    color: rgba(79, 79, 79, 1);
    padding: 0 15px;
    text-align: center;
}

@media (min-width: 768px) {
    .custom-landing h1 {
        font-size: 60px;
    }

    .custom-landing p {
        font-size: 24px;
        width: 800px;
    }
}

/* Start Header */
.header {
    min-height: 100px;
    font-weight: 400;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    background-color: white;
    display: flex;
    align-items: center;
    position: fixed;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 991px) {
    .header {
        width: 100%;
    }
}

.header .container {
    display: flex;
    align-items: center;
    gap: 50px;
    position: relative;
}

@media (max-width: 991px) {
    .header .container {
        flex-wrap: wrap;
    }
}

.header .logo {
    color: var(--main-color);
    font-size: 26px;
    font-weight: bold;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 991px) {
    .header .logo {
        height: 50px;
    }
}

.header .logo img {
    width: 105px;
    max-width: 100%;
}

.header .hide-nav {
    display: flex;
    flex: 1;
    align-items: center;
}

@media (max-width: 991px) {
    .header .hide-nav {
        position: absolute;
        width: 90%;
        top: 95px;
        flex-direction: column;
        align-items: start;
        background-color: white;
        padding: 10px 20px 62px;
        display: none;
        right: 22px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
}

.header .main-nav {
    display: flex;
    margin: 0;
    padding: 0;
    flex: 1;
}

@media (max-width: 991px) {
    .header .main-nav {
        margin: 15px 0;
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
        background-color: white;
        border-radius: 10px;
    }
}

.header .main-nav li.li-dropdown {
    position: relative;
}

@media (max-width: 991px) {
    .header .main-nav li {
        width: 100%;
    }
}

.header .dropdown-content {
    position: absolute;
    bottom: -90px;
    left: -53px;
    display: none;
    z-index: 1;
}

@media (max-width: 991px) {
    .header .dropdown-content {
        left: -65px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
}

.header .dropdown-content ul {
    background-color: white;
    width: 200px;
    border-radius: 10px;
    border: 2px solid #ddd;
}

.header .dropdown-content ul li {
    transition: var(--main-transition);
    text-align: left;
}

.header .dropdown-content ul li:hover {
    background-color: #eee;
}

.header .dropdown-content ul li a {
    color: black;
    padding: 15px 10px;
    display: block;
    position: relative;
}

.header .dropdown-content ul li:first-of-type a::before {
    content: "";
    width: 90%;
    height: 1px;
    position: absolute;
    bottom: 1px;
    left: 50%;
    transform: translate(-50%);
    background-color: #ECECEC;
}

.header .main-nav > li > a {
    display: flex;
    align-items: center;
    height: 60px;
    position: relative;
    color: rgba(51, 51, 51, 1);
    padding: 0 10px;
    margin: 0 10px;
    overflow: hidden;
    font-size: 17px;
    font-weight: 400;
    border: 3px solid transparent;
    transition: 0.3s;
    font-weight: 500;
    border: 3px solid transparent;
}

@media (min-width: 991px) and (max-width: 1199px) {
    .header .main-nav > li > a {
        padding: 0 5px;
        margin: 0 10px;
    }
}

.header .main-nav > li > a:hover {
    border: 3px solid transparent;
    border-bottom: 3px solid var(--primaryColor);
    color: var(--primaryColor) !important;
}

.header .main-nav > li > a.active {
    border: 0px solid transparent;
    border-bottom: 3px solid var(--primaryColor);
    color: var(--primaryColor);
}

.header .main-nav > li > a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    top: 0;
    left: 0;
    transition: var(--main-transition);
}

.header .main-nav li a i {
    color: #1F1F1F;
    font-size: 15px;
    margin-right: 5px;
    margin-top: 5px;
}

.header .hide-nav .lang {
    display: flex;
    gap: 10px;
    padding-right: 25px;
}

.header .hide-nav .lang p {
    margin: 0;
}

.header .hide-nav .lang p a {
    color: #1F1F1F;
    font-weight: 500;
}

.header .hide-nav .lang p a:hover {
    color: var(--primaryColor);
}

.header .btn-show-nav {
    display: none;
    position: absolute;
    top: 16px;
    left: 25px;
    font-size: 23px;
    cursor: pointer;
    transition: 0.3s;
}

.header .btn-show-nav:hover {
    opacity: 0.5;
}

@media (max-width: 991px) {
    .header .btn-show-nav {
        display: block;
    }
}
/* End Header */

/* Start Landing */
.home-page .landing .swiper .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.home-page .landing .swiper .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 100%;
}

.home-page .landing .swiper .swiper-slide .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(50, 50, 50, 0.7);
    z-index: 3;
}

.home-page .landing .swiper .swiper-slide img,
.home-page .landing .swiper .swiper-slide h2 {
    position: relative;
    z-index: 2;
    color: white;
}

.home-page .landing .swiper .swiper-slide h2 {
    z-index: 3;
    position: absolute;
    top: calc(50% + 60px);
    transform: translateY(-50%);
    right: 97px;
    font-size: 60px;
    font-weight: 700;
}

@media (max-width: 768px) {
    .home-page .landing .swiper .swiper-slide h2 {
        right: 20px;
        font-size: 32px;
    }
}

@media (min-width: 1200px) {
    .home-page .landing .swiper .swiper-slide h2 {
        font-size: 70px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .home-page .landing .swiper .swiper-slide h2 {
        font-size: 50px;
        right: 20px;
    }
}

.home-page .landing .swiper .swiper-slide h2 span {
    color: var(--primaryColor);
}

.home-page .landing .swiper .swiper-pagination-bullet {
    opacity: 1;
    background-color: white;
}

.home-page .landing .swiper .swiper-pagination-bullet-active {
    background: var(--primaryColor);
}
/* End Landing */
/* Start About */
.home-page .about {
    margin-top: 80px;
    margin-bottom: 80px;
}

.home-page .about .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-column-gap: 60px;
    grid-template-areas: "right left";
    align-items: center;
    position: relative;
    padding: 80px 15px 0;
}

@media (max-width: 992px) {
    .home-page .about .container {
        grid-column-gap: 30px;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .home-page .about .container:nth-child(odd) {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .home-page .about .container:nth-child(even) {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .home-page .about .custom {
        margin-bottom: 400px;
    }

    .home-page .about .custom:last-of-type {
        margin-bottom: 150px;
    }
}

.home-page .about .about-right {
    grid-area: right;
}

@media (max-width: 1199) {
    .home-page .about .about-right {
        width: 500px;
    }
}

.home-page .about .about-right .about-title {
    color: var(--primaryColor);
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 31px;
}

@media (max-width: 992px) {
    .home-page .about .about-right .about-title {
        font-size: 22px;
    }
}

@media (min-width: 992px) {
    .home-page .about .container:first-of-type .about-description,
    .home-page .about .container:nth-of-type(3) .about-description {
        width: 425px;
    }
}


.home-page .about .container:last-of-type .about-description p:nth-of-type(2)  {
    margin: 30px 0;
}

.home-page .about .about-right .about-description {
    color: rgba(79, 79, 79, 1);
    font-size: 17px;
    font-weight: 500;
    line-height: 30px;
}

@media (max-width: 991px) {
    .home-page .about .about-right .about-description {
        font-size: 16px;
        width: 370px;
    }
}

@media (max-width: 768px) {
    .home-page .about .about-right .about-description {
        width: auto;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .home-page .about .about-right .p-custom {
        position: absolute;
        line-height: 35px;
    }

    .home-page .about .about-right .p-custom.one {
        right: 0;
        bottom: -371px;
    }

    .home-page .about .container:last-of-type .about-right .p-custom.one {
        bottom: -236px;
    }

    .home-page .about .about-right .p-custom.two {
        left: -109%;
    }
}

.home-page .about .about-left {
    grid-area: left;
}

.home-page .about .container:nth-of-type(odd) .about-left {
    justify-self: end;
}


@media (max-width: 768px) {
    .home-page .about .container {
        grid-template-areas: "left" "right";
        grid-row-gap: 40px;
    }
}

.home-page .about .about-left img {
    border-radius: 10px;
    max-width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.home-page .about .row2 .about-right {
    grid-area: left;
}

.home-page .about .row2 .about-left {
    grid-area: right;
}

@media (max-width: 768px) {
    .home-page .about .row2 .about-right {
        grid-area: right;
    }

    .home-page .about .row2 .about-left {
        grid-area: left;
    }
}

.home-page .about ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 20px;
}

.home-page .about ul li {
    position: relative;
    font-weight: 500;
    color: rgba(79, 79, 79, 1);
}

.home-page .about ul li::before {
    content: "";
    position: absolute;
    top: 10px;
    right: -11px;
    background: rgba(79, 79, 79, 1);
    width: 5px;
    height: 5px;
    border-radius: 50%;
}
/* End About */
/* Start Features */
.home-page .features {
    padding-top: 80px;
}

.home-page .features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 30px 15px;
    padding: 20px;
}

@media (max-width: 991px) {
    .home-page .features .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .home-page .features .container {
        grid-template-columns: repeat(1, 1fr);
    }
}

.home-page .features .feature-box {
    border: 1px solid #e0e0e0;
    border-radius: 20px;
    padding: 20px 14px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: stretch;
    gap: 14px;
}

.home-page .icon-container {
    padding: 15px;
    border: 2px solid var(--primaryColor);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-page .feature-icon {
    width: 45px;
    height: 45px;
    /* max-width: 100%; */
}

.home-page .features .feature-title {
    font-size: 20px;
    color: rgba(51, 51, 51, 1);
    font-weight: 500;
}

.home-page .features .feature-description {
    color: rgb(79 79 79 / 62%);
    font-weight: 500;
    padding: 0;
    margin: 0;
    font-size: 15px;
}
/* End Features */
/* Start Services */
.home-page .services {
    padding: 80px 0;
    margin: 80px 0;
    background: rgba(244, 244, 242, 1);
}

.home-page .services .head {
    width: 394px;
}

@media (max-width: 768px) {
    .home-page .services .head {
        width: auto;
    }
}

.home-page .services .swiper {
    position: relative;
    margin-top: 50px;
}

.home-page .services .swiper-slide {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 80px;
    align-items: center;
    color: rgba(79, 79, 79, 1);
}

@media (max-width: 991px) {
    .home-page .services .swiper-slide {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home-page .services .swiper-slide .image {
        order: -1;
    }
}

.home-page .services img {
    max-width: 100%;
    width: 700px;
}

@media (min-width: 768px) and (max-width: 1199px) {
    .home-page .services img {
        display: block;
        margin: 0 auto;
    }
}

.home-page .services .service-content .service-subtitle {
    color: rgba(51, 51, 51, 1);
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 40px;
}

.home-page .services .service-content .service-description {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 50px;
    line-height: 33px;
}

@media (max-width: 576px) {
    .home-page .services .service-content .service-description,
    .home-page .services .service-content .service-list li {
        font-size: 16px !important;
    }
}

.home-page .services .service-content .service-list {
    margin-right: 20px;
}

.home-page .services .service-content .service-list li {
    position: relative;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 500;
}

.home-page .services .service-content .service-list li::before {
    content: "";
    width: 6px;
    height: 6px;
    position: absolute;
    top: 11px;
    right: -13px;
    background: var(--grayColor);
    border-radius: 50%;
}

.home-page .services .swiper .service-icons {
    display: flex;
    align-items: center;
    margin: 60px 0 20px;
    flex-wrap: wrap;
}

@media (min-width: 1200px) {
    .home-page .services .swiper .service-icons {
        gap: 40px;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .home-page .services .swiper .service-icons {
        justify-content: space-evenly;
    }
}

.home-page .services .swiper .service-icons .icon-box {
    text-align: center;
}

.home-page .services .swiper .service-icons .icon-box .icon-wrapper {
    padding: 13px 20px;
}

.home-page .services .swiper .service-icons .icon-box p {
    margin-top: 15px;
    width: 112px;
    font-size: 17px;
    font-weight: 500;
    color: rgba(79, 79, 79, 1);
}

.home-page .services .swiper .service-icons .icon-wrapper svg path {
    fill: var(--grayColor);
}

.home-page .services .swiper .service-icons .active {
    background-color: var(--primaryColor);
    fill: white !important;
    border-radius: 5px;
    padding: 13px 20px;
}

.home-page .services .swiper .service-icons .icon-wrapper.active svg path {
    fill: white;
}

.home-page .swiper-button-next,
.home-page .swiper-button-prev {
    position: static;
    display: inline-block;
    margin: 0 10px;
}

.home-page .services .swiper .swiper-controls {
    display: flex;
    margin-top: 10px;
    position: absolute;
    bottom: 15px;
    left: 265px;
    z-index: 10;
    gap: 20px;
    flex-direction: row-reverse;
}

@media (max-width: 768px) {
    .home-page .services .swiper .swiper-controls {
        left: 50%;
        transform: translateX(-50%);
        gap: 0;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .home-page .services .swiper .swiper-controls {
        bottom: -9px;
        top: auto;
        left: 50%;
        transform: translate(-50%);
        gap: 0;
    }
}

.home-page .swiper-button-prev:after {
    content: 'prev';
}

.home-page .swiper-button-next:after {
    content: 'next';
}

.home-page .swiper-button-next:after,
.home-page .swiper-button-prev:after {
    font-size: 30px;
    padding: 10px;
    background: rgba(51, 51, 51, 1);
    border-radius: 10px;
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    color: white;
}

@media (max-width: 768px) {
    .home-page .swiper-button-next:after,
    .home-page .swiper-button-prev:after {
        font-size: 14px;
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 991px) {
    .home-page .swiper-button-next:after,
    .home-page .swiper-button-prev:after {
        font-size: 15px;
        width: 35px;
        height: 34px;
    }
}
/* End Services */
/* Start Partners */
.home-page .partners .head {
    width: 500px;
}

@media (max-width: 768px) {
    .home-page .partners .head {
        width: auto;
    }
}

.home-page .partners .head .intro {
    font-size: 17px;
    padding: 0 38px;
}

.home-page .partners .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    align-items: center;
    justify-items: center;
    text-align: center;
    margin-top: 60px;
}

@media (max-width: 768px) {
    .home-page .partners .container {
        grid-template-columns: 1fr
    }
}

.home-page .partners .partner p {
    color: rgba(51, 51, 51, 1);
    font-weight: 500;
    font-size: 20px;
}

.home-page .partners .partner img {
    max-width: 100%;
    width: 400px;
}
/* End Partners */
/* Start FAQ */
.home-page .faq {
    padding: 80px 0;
    margin: 80px 0;
}

.home-page .faq .head {
    width: 500px;
}

@media (max-width: 768px) {
    .home-page .faq .head {
        width: auto;
    }
}

.home-page .faq .accordion .container {
    display: flex;
    flex-direction: column;
    gap: 29px;
}

.home-page .faq .accordion .accordion-item {
    border: 1px solid #dee2e68a;
}

.home-page .faq .accordion .accordion-item .accordion-body {
    color: var(--grayColor);
    padding: 25px 15px;
    color: rgba(79, 79, 79, 1);
    font-weight: 500;
    font-size: 15px;
}

.home-page .faq .accordion .accordion-item .accordion-button:focus {
    box-shadow: none;
}

.home-page .faq .accordion .accordion-item .accordion-button {
    font-weight: 700;
    background: transparent;
    padding: 20px 15px;
    border-bottom: 1px solid #dee2e6;
    color: rgb(51 51 51 / 88%);
    font-size: 20px;
}

@media (max-width: 768px) {
    .home-page .faq .accordion .accordion-item .accordion-button {
        font-size: 16px;
    }
}

.home-page .faq .accordion .accordion-item .accordion-button::after {
    position: absolute;
    left: 30px;
}
/* End FAQ */
/* Start Contact */
.home-page .contact {
    padding: 80px 0;
    margin: 80px 0;
}

.home-page .contact .container {
    display: flex;
    gap: 50px;
}

@media (max-width: 991px) {
    .home-page .contact .container {
        gap: 30px;
    }
}

.home-page .contact .container .info-section {
    background: rgba(0, 0, 0, 1);
    flex: 1 1 45%;
    color: #ffffff;
    padding: 30px 40px;
    border-radius: 20px;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}

.home-page .contact .container .info-section img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 186px;
}

@media (max-width: 768px) {
    .home-page .contact .container .info-section img {
        width: 100px;
    }
}

.home-page .contact .container .info-section p {
    color: rgba(201, 201, 201, 1) !important;
    margin: 20px 0 30px;
    width: 276px;
}

.home-page .contact .container .info-section p i {
    color: white !important;
    margin-left: 10px;
}

.home-page .contact .container .info-section p a {
    color: rgba(201, 201, 201, 1) !important;
    cursor: pointer;
}

.home-page .contact .container .info-section p a:hover {
    text-decoration: underline !important;
}

.home-page .contact .container .info-section .social-links,
footer .social-links {
    display: flex;
    gap: 20px;
}

.home-page .contact .container .info-section .social-links a,
footer .social-links a {
    color: white;
    background-color: rgba(27, 27, 27, 1);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.4s;
}

.home-page .contact .container .info-section .social-links a:hover {
    color: white;
    background-color: var(--primaryColor);
}

.home-page .contact .container .form-section {
    flex: 1 1 45%;
}

@media (max-width: 768px) {
    .home-page .contact .container {
        flex-direction: column;
        gap: 20px;
    }

    .home-page .contact .container .info-section,
    .home-page .contact .container .form-section {
        flex: 1 1 100%;
        height: auto;
    }
}

.home-page .contact .container .form-section form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.home-page .contact .container .form-section form .custom {
    display: flex;
    gap: 10px;
    align-items: center;
}

.home-page .contact .container .form-section form .custom > div {
    flex: 1 1 48%;
    display: flex;
    flex-direction: column;
}

.home-page .contact .container .form-section form .custom label {
    display: inline-block;
}

.home-page .contact .container .form-section form {
    color: rgb(44 44 44 / 79%) !important;
    font-size: 14.5px  !important;
    font-weight: 500  !important;
}

.home-page .contact .container .form-section form label {
    display: block;
    margin-bottom: 13px;
}

.home-page .contact .container .form-section form input:not([type="radio"]),
.home-page .contact .container .form-section form textarea {
    width: 100%;
    border: 1px solid rgba(208, 213, 221, 1);
    padding: 10px 16px;
    border-radius: 8px;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.home-page .contact .container .form-section form input::placeholder {
    color: rgba(102, 112, 133, 1);
    font-size: 15px;
}

.home-page .contact .container .form-section form input[type=tel] {
    padding-left: 50px;
}

.home-page .contact .container .form-section form .iti__country-list {
    left: 0;
    top: 70px;
}

.home-page .contact .container .form-section form .radio-section {
    color: rgba(102, 112, 133, 1);
    font-size: 15px;
}

.home-page .contact .container .form-section form .radio-section label  {
    display: inline-block;
    margin-left: 20px;
}

.home-page .contact .container .form-section form .radio-section input[type="radio"] {
    display: none;
}

.home-page .contact .container .form-section form .radio-section .custom-radio {
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    position: relative;
    transition: all 0.3s ease;
}

.home-page .contact .container .form-section form .radio-section input[type="radio"]:checked + .custom-radio {
    border-color: black;
    background-color: black;
}

.home-page .contact .container .form-section form .radio-section input[type="radio"]:checked + .custom-radio::after {
    content: '';
    position: absolute;
    left: 4px;
    top: 4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: white;
}

.home-page .contact .container .form-section form button {
    background: rgba(44, 44, 44, 1);
    border: none;
    color: rgba(255, 255, 255, 1);
    padding: 15px 0;
    border-radius: 8px;
    font-weight: 700;
}

.home-page .contact .container .form-section form .file-upload {}

.home-page .contact .container .form-section form .file-upload .file-label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(208, 213, 221, 1);
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.home-page .contact .container .form-section form .file-upload .file-label .label-text {
    margin-left: 10px;
    font-size: 16px;
}

.home-page .contact .container .form-section form .file-upload .file-label .icon {
    margin-left: 10px;
}

.home-page .contact .container .form-section form .file-upload .file-label .file-input {
    display: none;
}

.home-page .iti__country.iti__highlight,
.home-page .iti__country {
    direction: ltr;
    text-align: right;
}

/* End Contact */
/* Start Footer */
footer {
    padding: 50px 0 50px;
    position: relative;
    background: rgba(244, 244, 242, 1);
    border-top: 1px solid #eee;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .container > div {
    flex: 1;
    text-align: center;
}

footer .footer-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 10px 0;
    width: 30%;
}

footer .footer-links ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 15px;
}

footer .footer-links ul li {
    margin: 0;
}

footer .footer-links ul li a {
    color: #333;
    font-size: 16px;
    font-weight: 700;
}

footer .footer-links ul li a {
    border: 3px solid transparent;
    transition: 0.3s;
    padding-bottom: 5px;
}

footer .footer-links ul li a:hover {
    border: 3px solid var(--primaryColor);
    border-color: transparent transparent var(--primaryColor) transparent;
    color: var(--primaryColor) !important;
}

footer .footer-logo {
    text-align: center;
}

footer .footer-logo img {
    width: 100px;
}

footer .social-links {
    justify-content: end;
}

footer .social-links a:hover {
    background-color: var(--primaryColor);
}



footer p {
    font-weight: 500;
    margin-top: 60px;
    text-align: center;
}

@media (max-width: 768px) {
    footer .container {
      flex-direction: column;
      gap: 20px;
    }

    footer .footer-logo {
      order: -1;
    }

    footer .footer-links {
        width: 100%;
        justify-content: start;
    }

    footer .footer-links ul {
      flex-direction: column;
      gap: 20px;
      text-align: right;
    }

    footer .social-links {
        width: 100%;
        justify-content: start;
    }

    footer .social-links ul {
      justify-content: center;
    }
}
/*
=========================================
========== / Index Page =================
=========================================
*/
.partners-page {
    margin-top: 100px;
}

.partners-page .landing {
    position: relative;
    background-image: url('../../images/site/landing/5.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.partners-page .landing .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(50, 50, 50, 0.7);
    z-index: 1;
}

.partners-page .landing h1 {
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 60px;
    font-weight: 700;
    font-family: 'IBM Plex Sans Arabic';
    top: calc(50% - 50px);
    transform: translateY(-50%);
    padding-right: 118px;
    text-align: right;
}

@media (max-width: 768px) {
    .partners-page .landing h1 {
        font-size: 28px;
        padding: 0 15px;
        line-height: 43px;
    }
}

.partners-page .landing h1 span {
    color: var(--primaryColor);
}

/* Start Partners */
.partners-page .partners {
    margin: 80px 0;
}

.partners-page .partners .container {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.partners-page .partners .partner {
    border: 1px solid rgba(217, 217, 217, 1);
    border-radius: 8px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 55px;
}

@media (max-width: 768px) {
    .partners-page .partners .partner {
        padding: 20px;
    }
}

.partners-page .partners .partner .top-side {
    display: flex;
    align-items: center;
    gap: 25px;
    position: relative;
}

@media (max-width: 991px) {
    .partners-page .partners .partner .top-side {
        flex-direction: column;
    }
}

.partners-page .partners .partner .top-side::before {
    content: '';
    width: 100%;
    height: 1px;
    background: rgba(217, 217, 217, 1);
    position: absolute;
    bottom: -33px;
    left: 0px;
}

@media (max-width: 768px) {
    .partners-page .partners .partner .top-side::before {
        width: 112%;
        left: 50%;
        transform: translateX(-50%);
    }
}
@media (min-width: 768px) {
    .partners-page .partners .partner .top-side .image img {
        width: 335px;
        height: 290px;
    }
}

.partners-page .partners .partner .top-side .text .title {
    font-size: 24px;
    color: rgba(51, 51, 51, 1);
    margin: 20px 0;
}

.partners-page .partners .partner .top-side .text .desc {
    line-height: 34px;
    font-weight: 500;
    color: rgb(79 79 79);
}

.partners-page .partners .partner .bottom-side {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .partners-page .partners .partner .bottom-side {
        flex-direction: column;
    }
}

.partners-page .partners .partner .bottom-side .contact {
    color: rgba(51, 51, 51, 1);
}

@media (max-width: 768px) {
    .partners-page .partners .partner .bottom-side .contact {
        align-self: flex-start;
    }
}

.partners-page .partners .partner .bottom-side .contact p:first-child {
    font-size: 18px;
}

.partners-page .partners .partner .bottom-side .contact p:last-child i {
    margin-left: 8px;
}

.partners-page .partners .partner .bottom-side a {
    background: rgba(44, 44, 44, 1);
    padding: 15px 0;
    width: 300px;
    text-align: center;
    color: white;
    font-weight: 700;
    border-radius: 8px;
}

@media (max-width: 768px) {
    .partners-page .partners .partner .bottom-side a {
        width: 160px;
        font-size: 14px;
        align-self: flex-end;
        margin-top: 17px;
        padding: 10px 0;
    }
}

/* End Partners */
/*
=========================================
========== Partners Page =================
=========================================
*/
.jop-page {
    margin-top: 100px;
}

.jop-page .jobs {
    padding: 70px;
}

@media (max-width: 768px) {
    .jop-page .jobs {
        padding: 30px 15px;
    }
}


.jop-page .container {
    border: 1px solid rgba(217, 217, 217, 1);
    border-radius: 8px;
    padding: 40px 0;
    display: flex;
    justify-content: center;
}

.jop-page .container .inner-content {
    padding: 0 15px;
}

.jop-page .container .inner-content h1 {
    margin-bottom: 30px;
    color: rgba(51, 51, 51, 1);
}

.jop-page .container .inner-content p {
    color: rgba(79, 79, 79, 1);
    line-height: 32px;
    font-weight: 500;
}

@media (min-width: 768px) {
    .jop-page .container .inner-content {
        width: 600px;
    }

    .jop-page .container .inner-content h1 {
        font-size: 32px;
    }

    .jop-page .container .inner-content p {
        font-size: 20px;
        width: 600px;
    }
}

@media (max-width: 768px) {
    .jop-page .container {
        flex-direction: column;
        gap: 20px;
    }

    .jop-page .container .form-section {
        flex: 1 1 100%;
        height: auto;
    }
}

.jop-page .container .inner-content .text {
    text-align: center;
}

.jop-page .container .form-section form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.jop-page .container .form-section form .custom {
    display: flex;
    gap: 10px;
    align-items: center;
}

@media (max-width: 768px) {
    .jop-page .container .form-section form .custom {
        flex-direction: column;
        align-items: unset;
    }
}

.jop-page .container .form-section form .custom > div {
    flex: 1 1 48%;
    display: flex;
    flex-direction: column;
}

.jop-page .container .form-section form .custom label {
    display: inline-block;
}

.jop-page .container .form-section form {
    color: rgb(44 44 44 / 79%) !important;
    font-size: 14.5px  !important;
    font-weight: 500  !important;
}

.jop-page .container .form-section form label {
    display: block;
    margin-bottom: 13px;
}

.jop-page .container .form-section form input:not([type="radio"]),
.jop-page .container .form-section form textarea {
    width: 100%;
    border: 1px solid rgba(208, 213, 221, 1);
    padding: 10px 16px;
    border-radius: 8px;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.jop-page .container .form-section form input::placeholder {
    color: rgba(102, 112, 133, 1);
    font-size: 15px;
}

.jop-page .container .form-section form input[type=tel] {
    padding-left: 50px;
}

.jop-page .container .form-section form .iti__country-list {
    left: 0;
    top: 70px;
}

.jop-page .container .form-section form button {
    background: rgba(44, 44, 44, 1);
    border: none;
    color: rgba(255, 255, 255, 1);
    padding: 15px 0;
    border-radius: 8px;
    font-weight: 700;
}

.jop-page .container .form-section form .file-upload .file-label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(208, 213, 221, 1);
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.jop-page .container .form-section form .file-upload .file-label .label-text {
    margin-left: 10px;
    font-size: 16px;
}

.jop-page .container .form-section form .file-upload .file-label .icon {
    margin-left: 10px;
}

.jop-page .container .form-section form .file-upload .file-label .file-input {
    display: none;
}

.jop-page .iti__country.iti__highlight,
.jop-page .iti__country {
    direction: ltr;
    text-align: right;
}

/* End Contact */

/*
=========================================
========== / Jobs Page =================
=========================================
*/
.privacy-page .container,
.terms-page .container {
    padding: 60px 15px;
}

.privacy-page .text,
.terms-page .text {}

.privacy-page .text h2,
.terms-page .text h2 {
    color: rgba(51, 51, 51, 1);
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
}

@media (max-width: 768px) {
    .privacy-page .text h2,
    .terms-page .text h2 {
        font-size: 24px;
    }
}

.privacy-page .text ol,
.terms-page .text ol {
    color: rgba(79, 79, 79, 1);
    font-weight: 500;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    row-gap: 35px;
}

@media (max-width: 768px) {
    .privacy-page .text ol,
    .terms-page .text ol {
        font-size: 14px;
    }
}

.privacy-page .text ul,
.terms-page .text ul {
    margin-right: 24px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    margin-bottom: 20px;
}

.privacy-page .text ul li,
.terms-page .text ul li {
    position: relative;
}

.privacy-page .text ul li::before,
.terms-page .text ul li::before {
    content: "";
    position: absolute;
    top: 50%;
    right: -19px;
    width: 7px;
    height: 7px;
    background-color: rgba(51, 51, 51, 1);
    border-radius: 50%;
    transform: translateX(-50%);
}

.privacy-page .text p,
.terms-page .text p {
    line-height: 40px;

}

/*
=========================================
========== / Privacy Page ===============
=========================================
*/
.terms-page {
    margin-top: 100px;
}



/*
=========================================
========== / Terms & Conditions =========
=========================================
*/
