body {
    direction: ltr;
}

/* Header */
.header .dropdown-content ul li a {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    gap: 9px;
}

.header .btn-show-nav {
    left: auto;
    right: 25px;
}

.header .lang-menu .dropdown-content {
    left: -21px;
}

.landing .swiper .swiper-slide h2 {
    left: 120px;
    right: 120px;
}

@media (max-width: 768px) {
    .landing .swiper .swiper-slide h2 {
        left: 20px;
        right: auto;
    }
}

.about .about-right .p-custom.one {
    left: 0;
    right: auto;
}

.about ul {
    padding-left: 20px;
}

.about ul li::before {
    left: -17px;
}

.about .about-right .p-custom.two {
    right: -109%;
    left: auto;
}

.services .service-content .service-list {
    margin-left: 20px;
    margin-right: auto;
}

.services .service-content .service-list li::before {
    left: -18px;
    right: auto;
}


.features .feature-box {
    flex-direction: row-reverse;
    justify-content: space-between;
}

.faq .accordion .accordion-item .accordion-button::after {
    right: 30px;
    left: auto;
}

.contact .container .info-section p i {
    margin-right: 10px;
    margin-left: auto;
}

.contact .container .form-section form .file-upload .file-label .label-text {
    margin-right: 10px;
}

footer .footer-links ul {
    text-align: left;
}

.header .hide-nav .lang {
    padding-right: auto;
    padding-left: 25px;
}

.contact .container .info-section img {
    bottom: 5px;
    right: -6px;
    left: auto;
    width: 116px;
    transform: rotate(270deg);
    overflow: hidden;
}

.contact .container .form-section form input[type=tel]::placeholder {
    text-align: left;
}

.iti__country.iti__highlight,
.iti__country {
    text-align: left !important;
}

.partners-page .landing h1 {
    text-align: left;
    line-height: 30px !important;
}

.privacy-page .text ul li::before, .terms-page .text ul li::before {
    right: auto;
    left: -14px;
}

@media (max-width: 1199px) {
    .header .main-nav > li > a {
        font-size: 13px;
        font-weight: 600;
    }
}

.landing .swiper .swiper-slide h2 {
    line-height: 60px;
}
